In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set(rc={'figure.figsize':(14,12)})

# Para suprimir los warnings de scikitlearn por convergencia prematura
from warnings import simplefilter
from sklearn.exceptions import ConvergenceWarning
simplefilter("ignore", category=ConvergenceWarning)

In [2]:
dec_fraude = pd.read_csv('C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/Definitivo/dec_fraudeGISELA.csv')

In [3]:
dec_fraude.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
dec_fraude.head(5)

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0

In [5]:
dec_fraude.dtypes

t_id                  int64
tipo                 object
tiempo               object
monto               float64
cl_origen            object
cl_destino           object
es_fraude             int64
mensaje_alarma       object
balance_prev_or     float64
balance_post_or     float64
balance_prev_des    float64
balance_post_des    float64
dtype: object

In [6]:
dec_fraude['tiempo'] = pd.to_datetime(dec_fraude['tiempo'])

In [7]:
dec_fraude.dtypes

t_id                         int64
tipo                        object
tiempo              datetime64[ns]
monto                      float64
cl_origen                   object
cl_destino                  object
es_fraude                    int64
mensaje_alarma              object
balance_prev_or            float64
balance_post_or            float64
balance_prev_des           float64
balance_post_des           float64
dtype: object

In [8]:
dec_fraude['hora']=dec_fraude['tiempo'].dt.hour

In [9]:
dec_fraude.head()

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des,hora
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0,7
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0,7
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0,7
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0,7
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0,7

In [10]:
dec_fraude.drop('tiempo', axis=1, inplace=True)

In [11]:
dec_fraude.head()

,t_id,tipo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des,hora
0,0,PAYMENT,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0,7
1,1,PAYMENT,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0,7
2,2,TRANSFER,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0,7
3,3,CASH_OUT,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0,7
4,4,PAYMENT,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0,7

In [12]:
dec_fraude['tipo'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [13]:
dec_fraude.shape

(6362520, 12)

In [14]:
d1= dec_fraude[dec_fraude['tipo'] != 'PAYMENT']

In [15]:
d2 = d1[d1['tipo'] != 'DEBIT']

In [16]:
d3 = d2[d2['tipo'] != 'CASH_IN']

In [17]:
d3['tipo'].unique()

array(['TRANSFER', 'CASH_OUT'], dtype=object)

In [18]:
d3.shape

(2770360, 12)

In [19]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
d3['tipo_binario'] = lb.fit_transform(d3['tipo'])

C:\Users\maria\AppData\Local\Temp\ipykernel_2736\4038255059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3['tipo_binario'] = lb.fit_transform(d3['tipo'])

In [21]:
d3.head(10)

,t_id,tipo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des,hora,tipo_binario
2,2,TRANSFER,181.00,C1305486145,C553264065,1,No,181.00,0.0,0.0,0.00,7,1
3,3,CASH_OUT,181.00,C840083671,C38997010,1,No,181.00,0.0,21182.0,0.00,7,0
15,15,CASH_OUT,229133.94,C905080434,C476402209,0,No,15325.00,0.0,5083.0,51513.44,7,0
19,19,TRANSFER,215310.30,C1670993182,C1100439041,0,No,705.00,0.0,22425.0,0.00,7,1
24,24,TRANSFER,311685.89,C1984094095,C932583850,0,No,10835.00,0.0,6267.0,2719172.89,7,1
42,42,CASH_OUT,110414.71,C768216420,C1509514333,0,No,26845.41,0.0,288800.0,2415.16,7,0
47,47,CASH_OUT,56953.90,C1570470538,C824009085,0,No,1942.02,0.0,70253.0,64106.18,7,0
48,48,CASH_OUT,5346.89,C512549200,C248609774,0,No,0.00,0.0,652637.0,6453430.91,7,0
51,51,CASH_OUT,23261.30,C2072313080,C2001112025,0,No,20411.53,0.0,25742.0,0.00,7,0
58,58,TRANSFER,62610.80,C1976401987,C1937962514,0,No,79114.00,16503.2,517.0,8383.29,7,1

In [22]:
d3.drop('tipo', axis=1, inplace=True)

C:\Users\maria\AppData\Local\Temp\ipykernel_2736\4232141502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3.drop('tipo', axis=1, inplace=True)

In [23]:
d3.head()

,t_id,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des,hora,tipo_binario
2,2,181.00,C1305486145,C553264065,1,No,181.0,0.0,0.0,0.00,7,1
3,3,181.00,C840083671,C38997010,1,No,181.0,0.0,21182.0,0.00,7,0
15,15,229133.94,C905080434,C476402209,0,No,15325.0,0.0,5083.0,51513.44,7,0
19,19,215310.30,C1670993182,C1100439041,0,No,705.0,0.0,22425.0,0.00,7,1
24,24,311685.89,C1984094095,C932583850,0,No,10835.0,0.0,6267.0,2719172.89,7,1